# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [2]:
pokemon = pd.read_csv('../../../../data/pokemon.csv')

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [3]:
# your code here
# total is the sum of value numeric.
# HP, Attack, Defense, Sp. Atk, Sp. Def, Speed
# pokemon.info()

In [4]:
#pokemon['Total2'] = pokemon.add[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']]
colnames = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']

pokemon['Total2'] = pokemon.loc[:, colnames].sum(axis=1)

In [5]:
# compruebo que esté bien
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,309

In [6]:
#resultado correcto

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [7]:
# your code here
# genero el data frame
colstype = ['Type 1', 'Type 2']
pokemon_dum = pd.get_dummies(pokemon[colstype])
pokemon_dum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Type 1_Bug       800 non-null    uint8
 1   Type 1_Dark      800 non-null    uint8
 2   Type 1_Dragon    800 non-null    uint8
 3   Type 1_Electric  800 non-null    uint8
 4   Type 1_Fairy     800 non-null    uint8
 5   Type 1_Fighting  800 non-null    uint8
 6   Type 1_Fire      800 non-null    uint8
 7   Type 1_Flying    800 non-null    uint8
 8   Type 1_Ghost     800 non-null    uint8
 9   Type 1_Grass     800 non-null    uint8
 10  Type 1_Ground    800 non-null    uint8
 11  Type 1_Ice       800 non-null    uint8
 12  Type 1_Normal    800 non-null    uint8
 13  Type 1_Poison    800 non-null    uint8
 14  Type 1_Psychic   800 non-null    uint8
 15  Type 1_Rock      800 non-null    uint8
 16  Type 1_Steel     800 non-null    uint8
 17  Type 1_Water     800 non-null    uint8
 18  Type 2_Bug       800 non-null    uint8
 19  Type 2_Dark      800 non-null    uint8
 20  Type 2_Dragon    800 non-null    uint8
 21  Type 2_Electric  800 non-null    uint8
 22  Type 2_Fairy     800 non-null    uint8
 23  Type 2_Fighting  800 non-null    uint8
 24  Type 2_Fire      800 non-null    uint8
 25  Type 2_Flying    800 non-null    uint8
 26  Type 2_Ghost     800 non-null    uint8
 27  Type 2_Grass     800 non-null    uint8
 28  Type 2_Ground    800 non-null    uint8
 29  Type 2_Ice       800 non-null    uint8
 30  Type 2_Normal    800 non-null    uint8
 31  Type 2_Poison    800 non-null    uint8
 32  Type 2_Psychic   800 non-null    uint8
 33  Type 2_Rock      800 non-null    uint8
 34  Type 2_Steel     800 non-null    uint8
 35  Type 2_Water     800 non-null    uint8
dtypes: uint8(36)
memory usage: 28.2 KB

In [8]:
# aquí genero la lista para cambiar los nombres de las columnas

pokemon_dum_lst = pokemon_dum.columns.str.replace('Type 1_','').str.replace('Type 2_', '')
pokemon_dum_lst = list(pokemon_dum_lst)
#pokemon_dum_lst

#df.rename(columns = lambda x: x.replace('_x$', ''))
#df.rename(columns = lambda x: x.strip('_x'))
#df.rename(columns = lambda x: x.replace('_x$', ''))

In [9]:
# aquí el resultado final

pokemon_dum = pokemon_dum.set_axis(pokemon_dum_lst, axis=1)
pokemon_dum.head()

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,...,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [10]:
# your code here
# .mean()? for loop? si mismo tipo: sumar total y hacer media?
# añadir columna total a one encode?
extracted_column = pokemon['Total']
extracted_column.info()

<class 'pandas.core.series.Series'>
RangeIndex: 800 entries, 0 to 799
Series name: Total
Non-Null Count  Dtype
--------------  -----
800 non-null    int64
dtypes: int64(1)
memory usage: 6.4 KB

In [11]:
# añado la columna extraida
pokemon_dumm = pd.concat([pokemon_dum, extracted_column], axis = 1)
pokemon_dumm.head()

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,...,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water,Total
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,318
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,405
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,525
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,625
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,309

In [13]:

pokemon_corre = pokemon_dumm.corr()


total_corre = pokemon_corre['Total'][0:35]


corre_sorted = total_corre.abs().sort_values(ascending=False)


corre_sorted.head()

Dragon      0.196532
Bug         0.143957
Fighting    0.138726
Dragon      0.115240
Normal      0.104150
Name: Total, dtype: float64

In [14]:
# elijo las columnas para el group3,by
#pokemon_dum_gb = pokemon_dum.columns
#pokemon_dum_gb

In [15]:
# genero el índice
#idx = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35]

In [16]:
#pokemon_mean = pokemon_dumm.groupby(idx).mean()
#pokemon_mean.info()

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [17]:
# your code here

pokemongroup = pokemon.groupby(['Type 1', 'Type 2'])['Total'].mean()

best_pokemon = pokemongroup.sort_values(ascending=False)

best_pokemon.head()

Type 1   Type 2
Ground   Fire      770.000000
Dragon   Ice       686.666667
Steel    Dragon    680.000000
Ghost    Dragon    680.000000
Psychic  Dark      680.000000
Name: Total, dtype: float64